		.img-perfil{
			width:50px;
			height:50px;
			position:inherit;
		}
		input[type="file"]{
			width: 100%;
			opacity:0;
			cursor:pointer;
		}

    .modal-body {
	    max-height: 350px;
	    padding: 15px;
	    overflow-y: auto;
	    -webkit-overflow-scrolling: touch;